@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "vazir";
  src: url(./Vazir.woff);
}
@font-face {
  font-family: "vazirB";
  src: url(./Vazir-Bold.woff2);
}
@font-face {
  font-family: "vazirTH";
  src: url(./Vazir-Thin.woff2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: vazir;
}
